<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{ navTitle }}</a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <div>
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/" (click)="goToHome()">Home</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/features" (click)="goToFeatures()"
          >Features</a
        >
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/movies">Movies</a>
        <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="[ '/movies' ]">Movies 2</a>
        <a class="nav-item nav-link" routerLink="/" (click)="toggleSearch()"
          >ToggleSearch</a
        >
      </div>
    </div>
  </div>
  <form class="form-inline my-2 my-lg-0" *ngIf="showSearch">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
      (click)="getData($event)"
    >
      Search
    </button>
  </form>
</nav>
