<div class="row">
  <div class="col-md-6">
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="Title"
      aria-label="Title"
      #movieTitle
    />
  </div>
  <div class="col-md-6">
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="Description"
      aria-label="Description"
      #movieDescription
    />
  </div>
</div>
<hr />
<button
  type="button"
  class="btn btn-primary mr-2"
  (click)="addMovie(movieTitle, movieDescription)"
>
  Add movie old version
</button>
<!--<button type="button" class="btn btn-primary" (click)="addMovie2()">-->
<!--  Add movie new with @ViewChild-->
<!--</button>-->
<hr />
<p class="p-2" [ngClass]="{ redText: isRedText }" appBasicHighlight>Przykładowy tekst</p>
<p class="p-2" appBetterHighlight [customTextColor]="'green'">Następny tekst</p>
<button type="button" class="btn btn-primary" (click)="toggleRedText()">
  Change text button
</button>
